/* Typography */

.home body {
	background: #8caf74;
}

.home img {
		width:320px;
	}

/* Bio & Resume */

.bio.container {
	width: 50%;
	margin: 0 auto;
}

.bio h1, h2, h3 {
	font-family: 'Maven Pro', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.bio p, li {
	font-family: 'Maven Pro', sans-serif;
}

.bio.dropcap {
	font-size: 5em;
	background: #B03838;
	color: white;
	padding: .5em;
	margin: .25em;
	float: left;
	border-radius: 25%;
}

/* Portfolio */