/* Typography */

h1.home {
	background: white;
	margin: 25px;
	padding: 25px;
	font-family: 'Homemade Apple', cursive;
}

body.home {
	background: #AED6B8;
	text-align: center;
	font-size: 3em;
}

.home img {
		width:75%;
	}


/* Bio & Resume */

.container {
	width: 50%;
	margin: 0 auto;
}

.bio h1, h2, h3 {
	font-family: 'Maven Pro', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

p, li {
	font-family: 'Maven Pro', sans-serif;
}

.dropcap {
	font-size: 4em;
	background: #B03838;
	color: white;
	padding: .5em;
	margin: .25em;
	float: left;
	border-radius: 25%;
}

h4 {
	text-align: center;
}

/* Portfolio */